PROJECT_NAME="VOCHE App"
DATABASE_URL="postgresql://postgres:yacine@db:5432/voce"
REDIS_URL="redis://localhost:6379"
SECRET_KEY="your_secret_key"
SMTP_USER="yacineyoyoker@gmail.com"
SMTP_PASSWORD="uujb ypde kekw hahi"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="yacine"
POSTGRES_DB="voce"
POSTGRES_PORT=5432
REDIS_PORT=6379